################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/stinkmi2/FileContentIndex
/.vs/stinkmi2/v17
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
