<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mimitopia</title>
</head>

<!-- Font i'm using is "outfit"' --> 
<body class="StreetBG">
<div class="fname">
    <a href="{{ url_for('index') }}"><form>
    <form id ="fname" style="display: none;"><br>
    <input type="text" id="fname" name="fname"><br>
    <a href="{{ url_for('index') }}"><input type = "submit" value = "Submit">Submit1</input></a>
    </form></a>
</div>
    <div class ="intro"></div>
    <div class="button">
        <a href="{{ url_for('index') }}"><button id="button" style='display: none;'>Accept</button></a>

    </div>


            <script>
                let intro = document.querySelector('.intro')

                let logo = document.querySelector('.logo-header')

                let logoSpan = document.querySelectorAll('.logo')

                window.addEventListener('DOMContentLoaded', () => {

                    setTimeout(() => {

                        logoSpan.forEach((span, idx) => {

                            setTimeout(() => {

                                span.classList.add('active')

                            }, (idx + 1) * 400);

                        });



                        setTimeout(() => {

                            logoSpan.forEach((span, idx) => {

                                setTimeout(() => {

                                    span.classList.remove('active');

                                    span.classList.add('fade');

                                }, (idx + 1) * 50)

                            })

                        }, 2000);

                        setTimeout(() => {
                            intro.style.top = '-100vh'

                        }, 2300);

                    })

                })
            </script>
</body>
<script>
   // setTimeout will trigger a function after a specified delay (in milliseconds)
   setTimeout(function(){ 
        // When your timeout has finished, find your button and show it
        document.getElementById('button').style.display = 'block';
        document.getElementById('button').classList.add = 'button';
        document.getElementById('fname').style.display = 'block';
        document.getElementById('fname').classList.add = 'fname';



   }, 10 * 500);
</script>
</html>