<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/mimitopia.css" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mimitopia Home</title>
</head>
<body class="startBody">  
<button class="locationButtons">Mimuseum of Fine Arts</button>
<button class="startBody">Mimitopia Pooeuno Zoo</button>
<button>The Goon</button>
<button>The Mimi Feeding Grouds</button>
<button>Society for the Ethical Treatment of Mimis</button>
<button>The Yorknewmi Times</button>
<button>The Mimitopia Stock Exchange</button>
</body>
</html>